.form {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
  width: 100%;
}

.input {
  padding: 8px;
  border: none;
  font-size: 22px;
  outline: none;
  max-width: 300px;
  width: 100%;
}

.input::placeholder {
  white-space: nowrap;
}
